.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#f8ece4;
    flex-direction: column;
}

.text{
    font-size: 45px;
    font-family: 'Quicksand';
    margin-bottom: 30px;
}

.paragrafo{
font-family: 'Quicksand';
 margin-bottom: 50px;
}

.btn{
    font-family: 'Quicksand';
    padding: 15px 55px;
    background: #4f1b21 ;
    text-decoration: none;
    color:white;
    border-radius: 30px;
    border-color: #4f1b21;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    border-color: #4f1b21;
    background-color: white;
    color: black;
    
}